@font-face {
  font-family: BLADRMF_;
  font-display: swap;
  src: url("../fonts/BLADRMF_.woff2") format("woff2"), url("../fonts/BLADRMF_.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "BLADRMF_", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "BLADRMF_", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.no-webp .drum-kit {
  background-image: url(../img/drumkit-bg.jpg); }

.drum-kit {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0 0.625rem;
  align-items: center;
  justify-content: center;
}

.drum-kit__pad {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.3125rem solid black;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin: 1.5625rem;
  transition: all 0.15s ease;
  color: white;
  font-weight: 700;
  font-size: 1.5625rem;
}

.drum-kit__pad.playing {
  transform: scale(1.2);
  border-color: rgb(255, 166, 0);
  box-shadow: 0 0 20px rgb(255, 166, 0);
}

.drum-kit .sound {
  display: block;
}

.webp .drum-kit { background-image: url(../img/drumkit-bg.webp); }